@font-face {
font-family: PixelEmulator;
src: url("Pixel Emulator.otf") format("opentype");
}

canvas {
    width:600px;
    height:600px;
    margin: 0 auto;
    display:block;
    background-color:gray;
}

body{
	font-family: PixelEmulator, Sans-Serif;
    background-color:black;
}

.but{
    width:600px;
    margin:20px auto;
}